<%	
for(var i=0; i<data.length; i++){
	var vo = data[i];
%>

<li data-no='<%=vo.no%>'>
	<strong><%=vo.name%></strong>
	<p><%=vo.contents.replace(/</gi, "&lt;").replace(/>/gi, "&gt;").replace(/\n/gi, "<br>")%></p><br>
	<strong></strong>
	<a href='#' data-no='<%=vo.no%>'>삭제</a>
</li>

<%
}
%>