<li data-no='<%=no%>'>
	<strong><%=name%></strong>
	<p><%=contents.replace(/</gi, "&lt;").replace(/>/gi, "&gt;").replace(/\n/gi, "<br>")%></p><br>
	<strong></strong>
	<a href='#' data-no='<%=no%>'>삭제</a>
</li>